.row {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.2fr 1fr 1fr 0.5fr 0.5fr 1fr;
}
.cell {
    padding: 4px;
    border: 1px solid black;
    text-align: center;
}
.cell.header {
    background-color: #eeeeee;
}
.link {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
.redbg {
    background-color: #f07c7c;
}
.greenbg {
    background-color: #7cf07c;
}
.bluebg {
    background-color: #7ac9c9;
}
.white {
    color: #ffffff;
    font-family: sans-serif;
}
.bold {
    font-weight: bold;
}