.row {
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 1fr 1fr 0.5fr 0.5fr 1fr;
}
.cell {
    padding: 4px;
    border: 1px solid black;
    text-align: center;
}
.cell.header {
    background-color: #eeeeee;
}
.link {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}