<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steamroller Pipeline Job Manager</title>
    <script src="/static/main.js" defer type="text/javascript"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <input type="checkbox" id="autoReload" checked><label for="autoReload">Auto-Reload List</label>
    <div id="main">Loading task list...</div>
    <div id="actionMenu">
        <div id="actionMenu_kill">Kill</div>
        <div id="actionMenu_restart">Restart</div>
        <div id="actionMenu_viewLogs">View Logs</div>
        <div id="actionMenu_viewTaskStatus">Detailed Status</div>
    </div>
    <div id="dialogWrapper">
        <dialog id="taskStatusDialog">
            <div id="taskStatusTitle">(No Job Selected)</div>
            <pre id="taskStatusList">(No Status Reported)</pre>
            <span class="loadingDots" id="taskStatusLoading">...</span>
            <form method="dialog">
                <button>Close</button>
            </form>
        </dialog>
    </div>
</body>
</html>